<table class="table table-sm table-striped table-bordered arlista-width">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Termékek</th>
        <th scope="col">Kiszerelés</th>
        <th scope="col">Ár</th>
      </tr>
    </thead>
    <tbody class="text-wrap">
      <% kategoriak.forEach(function(kategoria){ %>
        <tr class="thead-light">
          <th scope="row" colspan="3"><%= kategoria.kat %></th>
        </tr>  
        <% kategoria.termekek.forEach(function(termek){ %>
          <% var artipus = ""; %>
          <% if (['lédig', 'kg'].includes(termek.kiszereles)) {artipus = " Ft/kg"}
              else {artipus = " Ft"} %>
          <tr>
            <td><%= termek.nev %></td>
            <td><%= termek.kiszereles %></td>
            <td><%= termek.ar %><%=artipus%></td>
          </tr>
        <% }); %>
      <% }); %>   
  </tbody>
</table>