<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>

<div class="container arlista-width">
    <h1>
        <span id="editArlistaTitle"><%=arlista.title%></span>
        <span class="btn-link deco-none editArlBtn d-inline"
              id="<%=arlista.url%>EditBtn" role="button"
              data-toggle="modal" data-target="#editTitleModal">
            <i class="fas fa-edit"></i>
        </span>
    </h1>
        
</div>

<table class="table table-sm table-striped table-bordered arlista-width">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Termékek</th>
        <th scope="col">Kiszerelés</th>
        <th scope="col">Ár</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="text-wrap">
      <!-- Each Kategoria -->
      <% kategoriak.forEach(function(kategoria){ %>
        <tr class="thead-light">
            <th scope="row" colspan="3"><%= kategoria.kat %></th>
            <th scope="row"class='editcell'>
                <!-- Edit Kategoria Button -->
                <span class="btn-link deco-none editkatbtn"
                    data-kategoriaid="<%=kategoria._id%>"
                    data-kategoriakat="<%=kategoria.kat%>"
                    data-toggle="collapse" data-target=".editrow<%=kategoria._id%>"
                    aria-expanded="false" aria-controls="editrow<%=kategoria._id%>"
                    id="<%=kategoria._id%>EditBtn" role="button">
                    <i class="fas fa-edit"></i>
                </span>
                <!-- Delete Kategoria Button -->
                <span role="button" class="btn-link deco-none float-right" 
                data-toggle="modal" data-target="#deleteConfirmModal"
                data-tipus="kategoria"
                data-arlistaurl="<%=arlista.url%>"
                data-kategoriaid="<%=kategoria._id%>"
                data-kategoriakat="<%=kategoria.kat%>">
                    <i class="far fa-trash-alt"></i>
                </span>
          </th>
        </tr>
        <!-- Edit Kategoria row -->
        <tr class="editrow<%=kategoria._id%> collapse" >
            <form id="edit<%=kategoria._id%>"
                    action="/arlistak/<%=arlista.url%>/<%=kategoria._id%>?_method=PUT" method="POST">
            <td >
                <label for='editKatKat' class='col-form-label'>Uj kategoria nev</label>
            </td>
            <td colspan="2">
                <input type='text' class='form-control editKat<%=kategoria._id%>' name='editKatKat' id='editKatKat'>
            </td>
            <td>
                <button class="btn btn-primary" type="submit"><i class="far fa-save"></i></button>
            </td>
            </form>
        </tr>
        <!-- Termek row -->
        <% kategoria.termekek.forEach(function(termek){ %>
          <% var artipus = ""; %>
          <% if (['lédig', 'kg'].includes(termek.kiszereles)) {artipus = " Ft/kg"}
              else {artipus = " Ft"} %>
          <tr>
            <td><%= termek.nev %></td>
            <td><%= termek.kiszereles %></td>
            <td><%= termek.ar %><%=artipus%></td>
            <td class='editcell'>
                <!-- Edit Termek Button -->
                <span data-kategoria="<%=JSON.stringify(kategoria)%>" 
                      data-termek="<%=JSON.stringify(termek)%>" 
                      data-arlistaurl="<%=arlista.url%>"
                      id="<%=termek._id%>edit" class="btn-link deco-none edittermekbtn"
                      data-toggle="collapse" data-target="#editTermekDiv" 
                      aria-expanded="false" aria-controls="editTermekDiv"><i class="fas fa-edit"></i></span>
                <!-- Delete Termek Button -->
                <span role="button" class="btn-link deco-none float-right" 
                    data-toggle="modal" data-target="#deleteConfirmModal"
                    data-tipus="termek"
                    data-arlistaurl="<%=arlista.url%>"
                    data-kategoria="<%=JSON.stringify(kategoria)%>"
                    data-termeknev="<%=termek.nev%>"
                    data-termekid="<%=termek._id%>" >
                    <i class="far fa-trash-alt"></i>
                </span>
            </td>
          </tr>
        <% }); %>
      <% }); %>   
      <tr class="spacer-row">
          <td colspan="4">&nbsp;</td>
      </tr>
      <tr>
          <td colspan="4">
              <button class="btn btn-primary" id="newTermekBtn" data-toggle="collapse" data-target="#newTermekDiv" aria-expanded="false" aria-controls="newTermekDiv">
              Uj termek hozzaadasa
              </button>
          </td>
      </tr>
  </tbody>
</table>

<!-- Edit termek form -->
<div id="editTermekDiv" class="collapse container mt-5 arlista-width">
    <h4>Termek modositasa</h5>
    <!-- "/arlistak/arlistaUrl/kategoria._id/termek._id" -->
    <form id="editTermekForm" action="" method="POST">
        <div class='form-group row'>
            <label for='editNev' class='col-sm-2 col-form-label'>Nev</label>
            <div class='col-sm-10'>
                <input type='text' class='form-control' name='editNev' id='editTermekNev'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='editKateg' class='col-sm-2 col-form-label'>Kategoria</label>
            <div class='col-sm-10'>
                <input type='text' class='form-control' name='editKateg' id='editKateg' readonly>
            </div>
        </div>
        <div class='form-group row'>
            <label for='editKiszereles' class='col-sm-2 col-form-label'>Kiszereles</label>
            <div class='col-sm-10'>
                <input type='text' class='form-control' name='editKiszereles' id='editKiszereles'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='editAr' class='col-sm-2 col-form-label'>Ar</label>
            <div class='col-sm-10'>
                <div class='input-group'>
                    <input type='text' class="form-control" class='form-control' name='editAr' id='editAr'>
                    <span class='input-group-addon'>&nbsp;Ft</span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
        <button type="reset" class="btn btn-primary mb-2" id="editTermekCnlBtn" 
            data-toggle="collapse" data-target="#editTermekDiv" 
            aria-expanded="false" aria-controls="editTermekDiv">Cancel</button>
    </form>
</div>

<!-- Uj termek form -->
<div id="newTermekDiv" class="collapse container mt-5 arlista-width">
    <h4>Uj termek hozzaadasa</h5>
    <form id="newTermekForm" action="/arlistak/<%=arlista.url%>/termek" method="POST">
        <div class='form-group row'>
            <label for='nev' class='col-sm-2 col-form-label'>Nev</label>
            <div class='col-sm-10'>
                <input type='text' class='form-control' name='nev' placeholder='nev' id='nev'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='kateg' class='col-sm-2 col-form-label'>Kategoria</label>
            <div class='col-sm-10'>
                <select class='form-control' name='kateg' id='kateg'>
                    <option selected disabled>Valassz kategoriat</option>
                    <% kategoriak.forEach(function(kategoria){ %>
                        <option value="<%=kategoria._id%>"><%=kategoria.kat%></option>
                    <% }) %>
                        <option value="new">Uj kategoria</option>
                </select>
            </div>
        </div>   
        <div class='form-group row d-none' id="ujkatdiv">
            <label for='ujkateg' class='col-sm-2 col-form-label'>Kategoria</label>
            <div class='col-sm-10'>
                <input type='text' class='form-control' name='ujkateg' placeholder='uj kategoria' id='ujkateg'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='kiszereles' class='col-sm-2 col-form-label'>Kiszereles</label>
            <div class='col-sm-10'>
                <input type='text' class='form-control' name='kiszereles' placeholder='kiszereles'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='ar' class='col-sm-2 col-form-label'>Ar</label>
            <div class='col-sm-10'>
                <div class='input-group'>
                    <input type='text' class='form-control' name='ar' placeholder='ar'>
                    <span class='input-group-addon'>&nbsp;Ft</span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
</div>

<!-- Modal edit title -->
<div class="modal fade" id="editTitleModal" tabindex="-1" role="dialog" aria-labelledby="editTitleModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLongTitle">Arlista cimenek modositasa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="d-inline" id="modalEdit" 
            action="/arlistak/<%=arlista.url%>?_method=PUT" method="POST">
        <div class='form-group row'>
            <label for='url' class='col-sm-2 col-form-label'>Url:</label>
            <div class='col-sm-10'>
                <input type="text" class='form-control' value="<%=arlista.url%>" name='url' id='url' readonly>
            </div>
        </div>
        <div class='form-group row'>
            <label for='title' class='col-sm-2 col-form-label'>Cim:</label>
            <div class='col-sm-10'>
                <input type="text" class='form-control' value="<%=arlista.title%>" name='title' id='title'>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégsem</button>
        <button type="submit" class="btn btn-success" type="submit">Mentes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete confirm -->
<%- include('partials/deleteConfirm'); -%>

<script src="/javascript/dbedit.js" defer="defer"></script>
<%- include('partials/footer'); -%>