<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>

<table class="table table-sm table-striped table-bordered arlista-width">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Termékek</th>
        <th scope="col">Kiszerelés</th>
        <th scope="col">Ár</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="text-wrap">
      <% kategoriak.forEach(function(kategoria){ %>
        <tr class="thead-light">
            <th scope="row" colspan="3"><%= kategoria.kat %></th>
            <th scope="row"class='editcell'>
                <a href="" class='deco-none'><i class="fas fa-edit"></i></a>
                <form class="d-inline" id="<%=kategoria._id%>del" 
                    action="/arlistak/<%=arlista.url%>/<%=kategoria._id%>?_method=DELETE" method="POST">
                    <span class="btn-link deco-none float-right" onclick="document.getElementById('<%=kategoria._id%>del').submit()">
                        <i class="far fa-trash-alt"></i>
                    </span>
                </form>
          </th>
        </tr>  
        <% kategoria.termekek.forEach(function(termek){ %>
          <% var artipus = ""; %>
          <% if (['lédig', 'kg'].includes(termek.kiszereles)) {artipus = " Ft/kg"}
              else {artipus = " Ft"} %>
          <tr>
            <td><%= termek.nev %></td>
            <td><%= termek.kiszereles %></td>
            <td><%= termek.ar %><%=artipus%></td>
            <td class='editcell'>
                <span data-kategoria="<%=JSON.stringify(kategoria)%>" 
                      data-termek="<%=JSON.stringify(termek)%>" 
                      data-arlistaurl="<%=arlista.url%>"
                      id="<%=termek._id%>edit" class="btn-link deco-none edittermekbtn"
                      data-toggle="collapse" data-target="#editTermekDiv" 
                      aria-expanded="false" aria-controls="editTermekDiv"><i class="fas fa-edit"></i></span>
                <form class="d-inline" id="<%=termek._id%>del" 
                    action="/arlistak/<%=arlista.url%>/<%=kategoria._id%>/<%=termek._id%>?_method=DELETE" method="POST">
                    <span class="btn-link deco-none float-right" onclick="document.getElementById('<%=termek._id%>del').submit()">
                        <i class="far fa-trash-alt"></i>
                    </span>
                </form>
            </td>
          </tr>
        <% }); %>
      <% }); %>   
      <tr class="spacer-row">
          <td colspan="4">&nbsp;</td>
      </tr>
      <tr>
          <td colspan="4">
              <button class="btn btn-primary" id="newTermekBtn" data-toggle="collapse" data-target="#newTermekDiv" aria-expanded="false" aria-controls="newTermekDiv">
              Uj termek hozzaadasa
              </button>
          </td>
      </tr>
  </tbody>
</table>

<!-- Edit termek form -->
<div id="editTermekDiv" class="collapse container mt-5 arlista-width">
    <h4>Termek modositasa</h5>
    <!-- "/arlistak/arlistaUrl/kategoria._id/termek._id" -->
    <form id="editTermekForm" action="" method="POST">
        <div class='form-group row'>
            <label for='editNev' class='col-sm-2 col-form-label'>Nev</label>
            <div class='col-sm-10'>
                <input type='hidden' class='form-control' name='editTermekId' id='editTermekId'>
                <input type='text' class='form-control' name='editNev' id='editTermekNev'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='editKateg' class='col-sm-2 col-form-label'>Kategoria</label>
            <div class='col-sm-10'>
                <input type='hidden' class='form-control' name='kategId' id='editKategId' readonly>
                <input type='text' class='form-control' name='editKateg' id='editKateg' readonly>
            </div>
        </div>
        <div class='form-group row'>
            <label for='editKiszereles' class='col-sm-2 col-form-label'>Kiszereles</label>
            <div class='col-sm-10'>
                <input type='text' class='form-control' name='editKiszereles' id='editKiszereles'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='editAr' class='col-sm-2 col-form-label'>Ar</label>
            <div class='col-sm-10'>
                <div class='input-group'>
                    <input type='text' class="form-control" class='form-control' name='editAr' id='editAr'>
                    <span class='input-group-addon'>&nbsp;Ft</span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
        <button type="reset" class="btn btn-primary mb-2" id="editTermekCnlBtn" 
            data-toggle="collapse" data-target="#editTermekDiv" 
            aria-expanded="false" aria-controls="editTermekDiv">Cancel</button>
    </form>
</div>

<!-- Uj termek form -->
<div id="newTermekDiv" class="collapse container mt-5 arlista-width">
    <h4>Uj termek hozzaadasa</h5>
    <form id="newTermekForm" action="/arlistak/<%=arlista.url%>/termek" method="POST">
        <div class='form-group row'>
            <label for='nev' class='col-sm-2 col-form-label'>Nev</label>
            <div class='col-sm-10'>
                <input type='text' class='form-control' name='nev' placeholder='nev' id='nev'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='kateg' class='col-sm-2 col-form-label'>Kategoria</label>
            <div class='col-sm-10'>
                <select class='form-control' name='kateg' id='kateg'>
                    <option selected disabled>Valassz kategoriat</option>
                    <% kategoriak.forEach(function(kategoria){ %>
                        <option value="<%=kategoria._id%>"><%=kategoria.kat%></option>
                    <% }) %>
                        <option value="new">Uj kategoria</option>
                </select>
            </div>
        </div>   
        <div class='form-group row d-none' id="ujkatdiv">
            <label for='ujkateg' class='col-sm-2 col-form-label'>Kategoria</label>
            <div class='col-sm-10'>
                <input type='text' class='form-control' name='ujkateg' placeholder='uj kategoria' id='ujkateg'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='kiszereles' class='col-sm-2 col-form-label'>Kiszereles</label>
            <div class='col-sm-10'>
                <input type='text' class='form-control' name='kiszereles' placeholder='kiszereles'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='ar' class='col-sm-2 col-form-label'>Ar</label>
            <div class='col-sm-10'>
                <div class='input-group'>
                    <input type='text' class='form-control' name='ar' placeholder='ar'>
                    <span class='input-group-addon'>&nbsp;Ft</span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
</div>

<script src="/javascript/dbedit.js" defer="defer"></script>
<%- include('partials/footer'); -%>